.carousel-container {
  width: 90%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid green; */
  border-radius: 4px;
}

.carousel {
  width: 100%;
  display: flex;
  transition: transform 1s ease; /* Transición suave al cambiar de imagen */
}

.slide {
  min-width: 100%;
  /* border: 1px solid blue; */
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  opacity: 1;
}
